.boxstatus .circle {
  height: 12px;
  width: 12px;
  border-radius: 4rem;
  opacity: 0.0;
  -webkit-animation: pulsate 1000ms ease-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
  margin-top: 3px; }

@-webkit-keyframes pulsate {
  0% {
    opacity: 0.1; }
  40% {
    opacity: 1.0; }
  60% {
    opacity: 1.0; }
  100% {
    opacity: 0.1; } }

.cardorder {
  box-shadow: 0px 1rem 1.5rem rgba(0, 0, 0, 0.2); }
  .cardorder .boximg {
    background-size: cover;
    min-height: 300px;
    border-radius: 10px; }
  .cardorder.step_1 .boximg {
    background-image: url("/assets/img/orderStep1.jpg"); }
  .cardorder.step_2 .boximg {
    background-image: url("/assets/img/orderStep2.jpg"); }
  .cardorder.step_3 .boximg {
    background-image: url("/assets/img/orderStep3.jpg"); }
